# Ignore all node_modules folders
**/node_modules/
# Ignore Next.js build files and cache
.next/
**/.next/
/wos-store-storefront/.next/
# Ignore build artifacts
out/
# Ignore log files
*.log
temp_auto_push.bat
temp_interactive_push.bat
config.bat
