STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=

const BACKEND_URL = 'http://localhost:9000';
const email = 'sohaibamjad2524@gmail.com';
const password = 'Sohaib@2522';
const PUBLISHABLE_API_KEY = 'pk_d12d3f5a7af4f089defb7878777fb8699b32d1d4379b1b2746e79bd09796cf25';
